/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.history/
.history/config/translatable_20200822112118.php
.history/config/translatable_20200822112126.php
public/media/
storage/uploads/
/bandhavBackend.zip